extends layout

block content
  .row#loadingstatus
    .col
      .spinner-border.spinner-border-sm.mx-2
      strong(role='status') Loading...
  .row
    .col.p-0
      canvas#contributors-canvas.col.p-0(height="700")

block after_scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js')
  script(src='contributors.js')
