/*
 * Custom CSS
 */

:root {
  --bs-body-bg: var(--bs-gray-100);
  --bs-card-title-spacer-y: 0.5rem;
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.25rem;
  --bs-card-spacer-x: 1.0rem;
  --bs-card-spacer-y: 1.0rem;
  --bs-body-bg: white;
}

.badge-topic {
  background-color: #17a2b8;
  padding: .25em .4em;
}

#searchform input {
  color: var(--bs-secondary);
}

#searchform input:focus{
  color: black;
}

img#mainlogo {
  filter: invert(100%);
  opacity: 0.75;
}

#searchform {
  width: 400px;
}

.color_ok {
  color: #22863a;
}

.color_bad {
  color: #cb2431;
}

.color_meh {
  color: slategrey;
}

.color_none {
  opacity: 0;
}

body {
  font-size: .875rem;
}

small {
  font-weight: 400;
  font-size: 80%;
}

a {
  color: #3b71ca;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-sm>:not(caption)>*>* {
  padding: 0.5rem;
}

.sidebar-user-details li {
  padding-bottom: 0.25rem;
}

.collapse-icon::before {
  content: " \f0a8";
}

.collapsed .collapse-icon::before {
  content: " \f0ab";
}

.grow-on-over:hover {
  transition: all .2s ease-in-out !important;
  transform: scale(1.2) !important;
}

/* Test package: chromote */
.package-readme-content pre span{
  word-break: break-all;
}

/* Test package: js, BOE */
.package-readme-content pre, .package-citation-content pre{
  white-space: pre-wrap;
  width:0;
  min-width:100%;
}

.package-readme-content table, .package-citation-content table, table.manpages-table {
  display: block;
  overflow: auto;
  width:0;
  min-width:100%;
}

.package-contributor-img:hover{
  background-color: #dc3545;
}


.package-description-card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transition: all .2s ease-in-out;
  transform: translate3d(0px, -1px, 0px);
  /*transform: scale(1.01);*/
}

.noanim.collapsing {
  transition: none !important;
}

canvas {
  min-width: 100%;
  max-width: 100%;
}

#viewerframe {
  border: none;
  width: 1px;
  min-width: 100%;
  height: 1000px;
}

/* Using nowrap for large screens breaks the layout, see pkg mapscanner */
@media (max-width: 575px) {
  p.overflow-x-invisible {
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
  }
  p.overflow-x-invisible::-webkit-scrollbar {
    display: none;
  }
}

.logo-img{
  height: 70px
}

#global-sidebar {
  width: 60px;
  padding: 15px 5px 15px 5px;
}

#global-sidebar:hover{
  width: 240px;
  margin-right: -180px;
  z-index: 9;
}

#global-sidebar .menu-expanded {
  display: none;
}

#global-sidebar:hover .menu-expanded {
  display: unset;
}

#global-sidebar:hover .menu-collapsed {
  display: none;
}
